<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/signin/Estudiantes" method="get">TEC Clubs</a>
  </div>
</nav>


<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white shadow-lg" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Inicio de Sesión Administrador</h2>
              <p class="text-white-50 mb-5">¡Por favor digite su Usuario y Contraseña!</p>

              
              <form action="/signin/Administrador", method="post">
                <div class="form-group mb-3">
                <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  id="typeEmailX"
                  name="username"
                  class="form-control form-control-lg"
                   placeholder="Usuario"
                />
                </div>

                <div class="form-outline form-white mb-4">
                  <input
                    type="password"
                    id="typePasswordX"
                    name="password"
                    class="form-control form-control-lg"
                    placeholder="Contraseña"
                  />
                </div>
                  <button class="btn btn-outline-light" type="submit">Iniciar Sesión</button>
                </div>
              </form>
            <div>
              <p class="mb-0">¿No tienes una cuenta?
                <a href="/singup/Administrador" class="text-white-50 fw-bold" method="get">Registrarse</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>